body  {

    font-family: "Playfair Display", serif;
    font-size: 16px;

}

h1.display {

    font-size: 4rem;
    line-height: 4.75rem;
    letter-spacing: -0.028em;

}

h1 {

    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.028em;
    font-weight: bold;

}

h2 {

    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -0.028em;
    font-weight: bold;

}

h3 {

    font-size: 1.75rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    font-weight: bold;

}

h4 {

    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    font-weight: bold;

}

h5 {

    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    font-weight: bold;

}

h6 {

    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: normal;
    font-weight: bold;

}

.subheading {

    font-size: 0.875rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-weight: 500;

}

.subheading-small {

    font-size: 0.75rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-weight: 500;

}

.text-align-left {

    text-align: left;
    text-align: -moz-left;

}

.text-align-center {

    text-align: center;
    text-align: -moz-center;

}

.text-align-right {

    text-align: right;
    text-align: -moz-right;

}

.body-s {

    font-size: 0.875rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-weight: 500;

}

.body-n {

    font-size: 0.875rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-weight: 500;

}

.body-l {

    font-size: 0.875rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    font-weight: 500;

}
